.modal{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
}
.modal.active{
    opacity: 1;
    pointer-events: all;
    z-index: 99;
}
.modal__content{
    padding: 20px;
    border-radius: 12px;
    background-color: white;
    height: 800px;
    width: 700px;
    transform: scale(0.5);
    transition: 0.4s all;
    
}
.modal__content.active{
    transform: scale(1);
}

.modal__content-close{
    cursor: pointer;
    position: relative;
    float: right;
    top:-35px;
    right: -35px;
    height: 35px;
    width: 35px;
    color: #445F3B;

}

@media (max-width:800px) {
    .modal__content{
        height: 700px;
        width: 400px;
    }
    
}
@media (max-width:460px) {
    .modal__content{
        height: 600px;
        width: 360px;
    }
    .modal__content-close{
        top:-21px;
        right: -22px;
    }
}