.myBtn {
    padding: 5px 15px;
    color: #ffffff;
    font-size: 14px;
    background: #291b00;
    border: 1px solid #291b00;
    cursor: pointer;
}
.myBtn:hover{
    background: #5b635a;
    border-radius: 10%/10%;
}