* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.cards {
  border: 1px solid rgb(85, 85, 85);
  margin-bottom: 20px;
  margin-left: 100px;
  width: 500px;
  height: 335px;
  position: relative;
  overflow: hidden;
}
.cards > img {
  position: absolute;
  height: 335px;
  -o-object-fit: cover;
     object-fit: cover;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 500px;
  filter: brightness(40%);
}
.cards > h2, .cards > p, .cards > button {
  position: absolute;
  top: 30%;
  left: 65px;
  text-transform: uppercase;
  color: white;
  width: 350px;
  background: rgba(0, 0, 0, 0.7333333333);
  padding: 10px;
  text-align: center;
}
.cards > p {
  top: 40%;
}
.cards > button {
  top: 50%;
}

.model__content-img {
  width: 400px;
  height: 500px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  padding-right: 50px;
}
.model__content-img img {
  height: 100%;
  width: auto;
}

.item-1 {
  background-color: aquamarine;
}

.item-2 {
  background-color: rgb(161, 127, 255);
}

.item-3 {
  background-color: rgb(142, 255, 127);
}

.item-4 {
  background-color: rgb(255, 127, 244);
}