@import 'nullstyle.scss';
.cards{
    border: 1px solid rgb(85, 85, 85);
    margin-bottom: 20px;
    margin-left: 100px;
    width: 500px;
    height: 335px;
    position: relative;
    overflow: hidden;
   
    
    >img{
        position:absolute;
        height: 335px;
        object-fit: cover;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        width: 500px;
        filter: brightness(40%)
    }
    >h2, >p,>button{
        position: absolute;
        top: 30%;
        left: 65px;
        text-transform: uppercase;
        color: white;
        width: 350px;
        background: #000000bb;
        padding: 10px;
        text-align: center;
    }
    >p{
        top: 40%;
    }
    >button{
        top:50%
    }

}
.model__content-img{
    width: 400px;
    height: 500px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    padding-right: 50px;
    img{
        height: 100%;
        width: auto;
    }
}

.item-1{
    background-color: aquamarine;
}
.item-2{
    background-color: rgb(161, 127, 255);
}
.item-3{
    background-color: rgb(142, 255, 127);
}
.item-4{
    background-color: rgb(255, 127, 244);
}

header{
    .active{
        color: blueviolet;
        cursor: auto;
    }
}