@import 'nullstyle.scss';

body{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Lab Grotesque', sans-serif;
    font-weight: 200;
}
.main__admin,.main,.main__news,.main__work,.main__order,.cart{
    flex-grow: 1;
}
.wrapper{
    min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.cart{
    display: flex;
   flex-direction:column;
   
    width: 1500px;
    .cart__about{
        text-align: right;
        padding-bottom: 15px;
    }
    .cart__back{
        margin-top: 35px;
    }
    a{
        color: #8EA076;
        -webkit-text-stroke: .02em #564734ad
    }
    a:hover{
        -webkit-text-stroke: .02em #56473400
    }
    h1{
        padding-bottom: 20px;
        text-align: center;
        font-size: 30px;
         padding-top: 50px;
    }
   ul{
        display: flex;
        justify-content:space-around;
        // align-content:center;
        // align-items:center;
        flex-direction:row;
        flex-wrap:wrap;
        
    } 
}

.cards{
    border: 1px solid rgb(85, 85, 85);
    margin-bottom: 20px;
    // margin-left: 100px;
    width: 380px;
    height: 335px;
    position: relative;
    overflow: hidden;
    
    
    >img{
        position:absolute;
        height: 335px;
        object-fit: cover;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        width: 380px;
        filter: brightness(40%)
    }
    >h2, >p,>button{
        position: absolute;
        display: flex;
        top: 30%;
        left: 3%;
        
        justify-content: center;
        text-transform: uppercase;
        color: #f9f6f4;
        width: 360px;
        background: #000000bb;
        padding: 10px;
       
    }
    >p{
        top: 40%;
    }
    >button{
        top:50%
    }

}
.model__content-img{
    width: 400px;
    height: 500px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    padding-right: 50px;
    img{
        height: 100%;
        width: auto;
    }
}

.main__order{
    
    
    
    margin-left: auto;
    margin-right: auto;
    
    a{color: #f9f6f4;}
    .main_order_main{
        
        font-size: 35px;
    font-weight: 250;
    line-height: 40px;
    letter-spacing: 0.05em;
    text-align: center;
    }
    .main__order_link{
        display: flex;
        flex-direction: column;
        width: 800px;
        border: 1px solid #8EA076;
        margin-top: 35px;
       background-color: #8EA076;
    }
    button{
        margin-top: 10px;
        background-color: #564734;
        border-radius: 40% /120% ;
        width: 200px;
        height: 25px;
        color: #f9f6f4;
        font-size: 16px;
    }
    .order__invoice{background-color: #ddf7d3;}
    .order__raschet{
        color: #ca8f41;
    }
    form{
        background-color: #ddf7d3;
        padding-top: 25px;
        text-align: center;
        font-size: 16px;
        input{
            border-bottom: 1px solid black;
            background-color: #1b861b15;
        }
        select{
            border-bottom: 1px solid black;
            background-color: #1b861b15;
        }
        option{
            background-color: #8EA076; 
        }
        h1,p{
            padding-top: 10px;
            
        }
        label{
            padding-right: 15px;
        }
        
    }
}



header{
    .active{
        color: #8EA076;
        cursor: auto;
    }
}
.news{
    display:flex;
    margin: 0 5% 10px ;
    border: 2px solid black;
    background-color: #ffffff; 
    color: #000000;
    width: 50%;
    
    img{
        width: 200px;
    
    }
    .news__text{
        padding-left: 10px;
        padding-top: 10px;
        display: flex;
        flex-direction:column;
        justify-content:space-between;   
            
    }
    p{
        padding: 10px 0px;
    }
    a{
        color: #1A292B;
    }

    
}
.news__cards{
    display: flex;
    justify-content: center;
    flex-direction:column;
    
    img{
        
        height: 250px;
        width: auto;
    }
}

.catalog__cards{
    img{width: 100%;}
}

footer{
    
    background-color: #564734;
    flex-shrink: 0;
    

}
.footer{
    width: 100%;
    height: 100px;
    display: flex;
    flex-wrap:wrap;
    flex-direction:column;
    padding-top: 10px;
    padding-left: 5%;
   
    a{
        color: 	#A38971;
        padding-bottom: 10px;
    }
    
}
.footer__logo{
    display: flex;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    color: 	beige;
    padding-top: 15px;
    padding-bottom: 50px;
    img{
        width:40px;
        padding-top: 5px;
        padding-right: 5px;
    }
}
.footer__document{
    background-color: #171F21;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: 	#3d6a70;
    a{
        color: #689095;
    }
}

@media (max-width: 1150px)  {
    .cart{
        width: 800px;
        padding-bottom: 45px;
        margin-left: auto;
    margin-right: auto;
    }
    .cards{
        width: 280px;
        height: 280px;
        >h2, >p,>button{
            width: 260px;
            left: 3%;
        }
    }
    
    
}

@media (max-width:800px) { 
    .cart{
        width: 400px;
        
    }
    
    .model__content-img{
        
        img{
            height: auto;
            width: 100%;
        }
    }
    .news{
        width: auto;
    }
   
   
}

@media (max-width:460px) {
    .model__content-img{
        
        img{
            margin-top: -30px;
        }
    }
    .cart{width: 300px;}
    .cards{
        width: 290px;
        height: 256px;

        >h2, >p,>button{
            width: 290px;
            left: 3%;
        }
    }
    
}
input{
    background-color: #8f8f8f;
    margin-top: 10px;
}

.news__li{
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    img{
        width:10%;
        
    }
}
.news__block{
    border: 2px solid black;
    display: flex ;
}
.news__text{
    display: flex ;
    flex-direction:column;
    justify-content:space-between; 
}