.logo{  
    display: flex;
    width: 100px;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    color: rgb(255, 255, 255);
}
.header{
    height: 50px;
    background-color: brown;
    padding-top: 10px;
    padding-left: 25px;
}

.img{
    width:40px;
    padding-right: 10px;
}

