.logo{  
    display: flex;
    width: 70px;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    color: #A3907E;
}
.header{
    height: 50px;
    background-color: #47382a;
    padding-top: 10px;
    padding-left: 25px;
}

.img{
    width:40px;
    padding-right: 10px;
}

